# Environment variables
.env
.env.local
.env.production

# Node.js dependencies
node_modules/

# Production build files
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
*.code-workspace

# Vite cache
.cache/
